<div class="carousel">
  <input type="radio" id="page1cb" checked name="pages" />
  <input type="radio" id="page2cb" name="pages" />
  <input type="radio" id="page3cb" name="pages" />
  <input type="radio" id="page4cb" name="pages" />
  <input type="radio" id="page5cb" name="pages" />
  <!-- page 1 -->
  <div class="page" id="page1">
    <div>Page One!</div>
    <label title="Start"><b>START</b></label>
  </div>
  <!-- page 2 -->
  <div class="page" id="page2">
    <div>Page Two!</div>
    <label for="page3cb" title="Next"><b>NEXT</b></label>
  </div>
  <!-- page 3 -->
  <div class="page" id="page3">
    <div>Page Three!</div>
    <label for="page4cb" title="Next"><b>NEXT</b></label>
  </div>
  <!-- page 4 -->
  <div class="page" id="page4">
    <div>Page Four!</div>
    <label for="page5cb" title="Next"><b>NEXT</b></label>
  </div>
  <!-- page 5 -->
  <div class="page" id="page5">
    <div>Page Five!</div>
    <label for="page1cb" title="That's all folks!"><b>START AGAIN?</b></label>
  </div>
  <div class="carousel"></div>
</div>
