<!-- your-component.component.html -->
<div class="container mt-5">
  <div class="row">
    <!-- Profile Section -->
    <div class="col-md-4">
      <div class="card p-3 py-4">
        <div class="text-center">
          <img src="{{ userInfo.image }}" width="100" class="rounded-circle" />
        </div>

        <div class="text-center mt-3">
          <h5 class="mt-2 mb-0">
            {{ userInfo.firstName }} {{ userInfo.lastName }}
          </h5>
          <span>{{ userInfo.role }}</span>

          <div class="px-4 mt-1">
            <p class="fonts">{{ userInfo.description }}</p>
          </div>

          <div class="buttons">
            <button
              class="btn btn-primary px-4 ms-3"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              Update
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Applications Section -->
    <div class="col-md-8">
      <h2>Applications</h2>
      <div class="applications">
        <div
          *ngFor="let application of userApplications"
          class="card mb-3 mt- w-50"
        >
          <div
            [ngStyle]="{
              'background-color': getBackgroundColor(application.etat)
            }"
            class="card-header"
          >
            Status : {{ application.etat }}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ application.offerDetails.title }}</h5>
            <p class="card-text">
              Company: {{ application.offerDetails.company }}<br />
              Location: {{ application.offerDetails.location }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          <h2>Welcome, {{ userInfo.firstName }}!</h2>
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div *ngIf="userInfo">
          <form (ngSubmit)="updateUser()" class="mt-4">
            <div class="mb-3">
              <label for="firstName" class="form-label">First Name:</label>
              <input
                type="text"
                id="firstName"
                [(ngModel)]="updatedUser.firstName"
                name="firstName"
                class="form-control"
                required
              />
            </div>

            <div class="mb-3">
              <label for="lastName" class="form-label">Last Name:</label>
              <input
                type="text"
                id="lastName"
                [(ngModel)]="updatedUser.lastName"
                name="lastName"
                class="form-control"
                required
              />
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">Email:</label>
              <input
                type="email"
                id="email"
                [(ngModel)]="updatedUser.email"
                name="email"
                class="form-control"
                required
              />
            </div>
            <!-- Password Section -->
            <div class="mb-3">
              <label for="password" class="form-label">New Password:</label>
              <input
                type="password"
                id="password"
                [(ngModel)]="updatedUser.password"
                name="password"
                class="form-control"
              />
            </div>

            <!-- Image Section -->
            <div class="mb-3">
              <label for="image" class="form-label">Profile Image URL:</label>
              <input
                type="text"
                id="image"
                [(ngModel)]="updatedUser.image"
                name="image"
                class="form-control"
              />
            </div>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            |
            <button type="submit" class="btn btn-success">
              Update Profile
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
