<!-- offer-list.component.html -->
<div class="container mt-5">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col" [style.width.%]="15">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.username }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td [style.width.%]="15">
          <button
            type="button"
            (click)="editUser(user)"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Edit
          </button>
          <button
            type="button"
            class="btn btn-danger btn-sm"
            (click)="onDelete(user._id)"
          >
            Delete
          </button>
          <!-- Bootstrap Modal -->
          <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="applyModalLabel">Update User</h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <!-- Form inside the modal -->
                  <form (ngSubmit)="onEditSubmit()" #myForm="ngForm">
                    <div class="form-group">
                      <label for="firstname">First name:</label>
                      <input
                        type="text"
                        id="firstname"
                        readonly
                        name="firstname"
                        class="form-control"
                        [(ngModel)]="editedUser.firstName"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label for="lastname">Last name:</label>
                      <input
                        type="text"
                        id="lastname"
                        readonly
                        name="lastname"
                        class="form-control"
                        [(ngModel)]="editedUser.lastName"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label for="email">Email:</label>
                      <input
                        type="text"
                        id="email"
                        readonly
                        name="email"
                        class="form-control"
                        [(ngModel)]="editedUser.email"
                        required
                      />
                    </div>

                    <div class="form-group">
                      <label>Role:</label>
                      <div class="form-check">
                        <input
                          type="radio"
                          id="adminRadio"
                          name="roleRadio"
                          class="form-check-input"
                          value="admin"
                          [(ngModel)]="editedUser.role"
                        />
                        <label for="adminRadio" class="form-check-label"
                          >Admin</label
                        >
                      </div>
                      <div class="form-check">
                        <input
                          type="radio"
                          id="hrRadio"
                          name="roleRadio"
                          class="form-check-input"
                          value="hr"
                          [(ngModel)]="editedUser.role"
                        />
                        <label for="hrRadio" class="form-check-label">HR</label>
                      </div>
                      <div class="form-check">
                        <input
                          type="radio"
                          id="candidatRadio"
                          name="roleRadio"
                          class="form-check-input"
                          value="candidat"
                          [(ngModel)]="editedUser.role"
                        />
                        <label for="candidatRadio" class="form-check-label"
                          >Candidate</label
                        >
                      </div>
                    </div>

                    <button type="submit" class="btn btn-primary">
                      Update
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
