header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 10px;
}

.body {
  margin-top: 8%;
  margin-bottom: 12%;
}

footer {
  padding: 50px;
  margin-top: auto;
  margin-bottom: 0;
}
