<div
  class="container-fluid h-custom"
  style="margin-top: 100; margin-bottom: 100px"
>
  <div class="row d-flex justify-content-center align-items-center h-100 mt-4">
    <div class="col-md-9 col-lg-6 col-xl-5">
      <video class="img-fluid" autoplay loop muted>
        <source src="../../assets/login.mp4" type="video/mp4" />
      </video>
    </div>
    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 mt-4">
      <div
        [@formAnimation]="activeForm"
        id="loginForm"
        *ngIf="activeForm === 'login'"
        class="auth-form"
      >
        <form>
          <div class="title"><h2>Login</h2></div>
          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form3Example3">Email address</label>
            <input
              type="email"
              id="form3Example3"
              name="email"
              class="form-control form-control-lg"
              placeholder="Enter a valid email address"
              [(ngModel)]="loginCredentials.email"
            />
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <label class="form-label" for="form3Example4">Password</label>
            <input
              type="password"
              name="password"
              id="form3Example4"
              class="form-control form-control-lg"
              placeholder="Enter password"
              [(ngModel)]="loginCredentials.password"
            />
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button
              type="button"
              class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem"
              (click)="login()"
            >
              Login
            </button>
            <p class="small fw-bold mt-2 pt-1 mb-0">
              Don't have an account?
              <button
                (click)="switchForm('register')"
                class="btn"
                style="padding-left: 2.5rem; padding-right: 2.5rem"
              >
                Register
              </button>
            </p>
          </div>
        </form>
      </div>

      <div
        [@formAnimation]="activeForm"
        id="registerForm"
        *ngIf="activeForm === 'register'"
        class="auth-form"
      >
        <form>
          <div class="title"><h2>Register</h2></div>

          <!-- Username input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="username">Username</label>
            <input
              type="text"
              id="username"
              name="username"
              class="form-control form-control-lg"
              placeholder="Enter a username"
              [(ngModel)]="registerData.username"
            />
          </div>

          <!-- First Name input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="firstName">First Name</label>
            <input
              type="text"
              id="firstName"
              name="name"
              class="form-control form-control-lg"
              placeholder="Enter your first name"
              [(ngModel)]="registerData.firstName"
            />
          </div>

          <!-- Last Name input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="lastName">Last Name</label>
            <input
              type="text"
              id="lastName"
              name="lastName"
              class="form-control form-control-lg"
              placeholder="Enter your last name"
              [(ngModel)]="registerData.lastName"
            />
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="email">Email address</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control form-control-lg"
              placeholder="Enter a valid email address"
              [(ngModel)]="registerData.email"
            />
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <label class="form-label" for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control form-control-lg"
              placeholder="Enter password"
              [(ngModel)]="registerData.password"
            />
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button
              type="button"
              class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem"
              (click)="register()"
            >
              Register
            </button>
            <p class="small fw-bold mt-2 pt-1 mb-0">
              Already have an account?
              <button
                (click)="switchForm('login')"
                class="btn"
                style="padding-left: 2.5rem; padding-right: 2.5rem"
              >
                Login
              </button>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
