<div id="Container">
    <div id="left">
        <h1>FIND YOUR <span id="DREAM">DREAM</span> JOB</h1>
        <h6>When you're searching for a job, there is few things you can do to get the most out of your search.</h6>

        <div class="searchComp">
            <div class="searchs">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                  </svg>
                <input type="text" [(ngModel)]="skills" placeholder="Searchtitle or keyword">
            </div>
            <div  class="searchs">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                    <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                  </svg>
                <input [(ngModel)]="location" type="text" placeholder="Tunis,TN">
            </div>
            <div>
                <button (click)="searchJobs()" class="btn Searching">Search Jobs</button>
            </div>
        </div>
    </div> 
    

    <div id="Right">
<img
          class="d-block w-100"
          src="../../assets/Wait I am searching.gif"
          alt="First slide"
        />    </div>
</div>
<div class="container">
  <h1>Job offers:</h1>
  <div class="container">
    <div *ngFor="let offer of jobOffers" class="card">
      <h1 class="title">
        <a [routerLink]="['/offer', offer._id]">{{ offer.title }}</a>
      </h1>
      <p class="company">{{ offer.company }}</p>
      <p class="location">{{ offer.location }}</p>
      <p class="description">{{ offer.description }}</p>
      <p class="dateFin">Deadline: {{ offer.dateFin | date : "mediumDate" }}</p>
    </div>
  </div>
</div>
