<div class="job-listing">
  <h2 class="job-title">{{ title }}</h2>
  <div class="job-location">
    <h3 class="company-location">{{ location }}</h3>
  </div>
  <ul class="job-requirements">
    <li class="skills">
      <i class="fas fa-tools"></i> Skills: {{ skills.join(", ") }}
    </li>
  </ul>
  <h4>About The Job</h4>
  <div class="job-company">
    <p class="company-name">{{ company }}</p>
  </div>
  <div class="job-details">
    <p class="role-description">{{ roleDescription }}</p>
    <ul class="job-info">
      <li class="location">
        <i class="fas fa-map-marker-alt"></i> {{ location }}
      </li>
      <li class="salary"><i class="fas fa-dollar-sign"></i> {{ salary }}</li>
    </ul>
  </div>
  <h4>Description</h4>
  <p class="job-description">{{ description }}</p>

  <h4>What we Offre</h4>
  <p class="what-we-offer">{{ whatWeOffer }}</p>

  <p class="date-fin"></p>
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
  >
    Apply Now
  </button>

  <!-- Bootstrap Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="applyModalLabel">
            Apply for {{ title }}
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Form inside the modal -->
          <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
            <div class="form-group">
              <label for="firstname">First name:</label>
              <input
                type="text"
                id="firstname"
                name="firstname"
                class="form-control"
                placeholder="Enter first name"
                required
              />
            </div>

            <div class="form-group">
              <label for="lastname">Last name:</label>
              <input
                type="text"
                id="lastname"
                name="lastname"
                class="form-control"
                placeholder="Enter last name"
                required
              />
            </div>

            <div class="form-group">
              <label for="email">Email :</label>
              <input
                type="email"
                id="email"
                name="email"
                class="form-control"
                placeholder="name@gmail.com"
                required
              />
            </div>

            <div class="form-group">
              <label for="cv">CV :</label>
              <input
                type="file"
                id="cv"
                name="cv"
                class="form-control"
                required
              />
            </div>

            <div class="form-group">
              <label for="coverLetter">Cover Letter:</label>
              <textarea
                id="coverLetter"
                name="coverLetter"
                class="form-control"
                required
              ></textarea>
            </div>

            <input type="hidden" name="idOfOffre" [(ngModel)]="offerId" />

            <button type="submit" class="btn btn-primary">Apply Now</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
