<div class="container-fluid">
  <div class="row">
    <div class="job col-md-6 ml-2">
      <h1 class="title">{{ title }}</h1>
      <ul class="list-unstyled mt-2">
        <li><i class="fa-solid fa-location-dot"></i> {{ location }}</li>
        <li><i class="fa-solid fa-building"></i> {{ company }}</li>
        <li><i class="fa-solid fa-sack-dollar"></i> year / {{ salary }} $</li>
        <li><i class="fa-solid fa-hourglass-start"></i> {{ dateFin }}</li>
      </ul>
      <button
        class="btn btn-outline-dark"
        data-bs-toggle="modal"
        data-bs-target="#myModal"
      >
        Apply
      </button>
    </div>
    <div class="col-md-6">
      <img
        src="../../assets/Jonas Mosesson.gif"
        alt="Job Image"
        class="img-fluid"
      />
    </div>
  </div>
</div>

<div class="description">
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-12">
        <h2 class="fw-bold">Company Description</h2>
        <p>
          {{ companyDescription }}
        </p>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12">
        <h2 class="fw-bold">Job Description</h2>
        <p>
          {{ description }}
        </p>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12">
        <h2 class="fw-bold">Skills Needed</h2>
        <ul *ngFor="let skill of skills">
          <li><i class="fa-regular fa-circle"></i> {{ skill }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Apply for {{ title }}</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <!-- Form inside the modal -->
        <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
          <div class="form-group">
            <label for="firstname">First name:</label>
            <input
              type="text"
              id="firstname"
              name="firstName"
              [(ngModel)]="myForm.value.firstName"
              class="form-control"
              placeholder="Enter first name"
              required
            />
          </div>

          <div class="form-group">
            <label for="lastname">Last name:</label>
            <input
              type="text"
              id="lastname"
              name="lastName"
              [(ngModel)]="myForm.value.lastName"
              class="form-control"
              placeholder="Enter last name"
              required
            />
          </div>

          <div class="form-group">
            <label for="email">Email :</label>
            <input
              type="email"
              id="email"
              name="email"
              [(ngModel)]="myForm.value.email"
              class="form-control"
              placeholder="name@gmail.com"
              required
            />
          </div>
          <div class="form-group">
            <label for="phone">Phone :</label>
            <input
              type="text"
              id="phone"
              name="phone"
              [(ngModel)]="myForm.value.phone"
              class="form-control"
              placeholder="+216025604562"
              required
            />
          </div>
          <div class="form-group">
            <label for="cv">CV : </label>
            <input
              type="file"
              id="cv"
              name="CV"
              class="form-control"
              required
              (change)="uploadFileHandler($event)"
            />
          </div>
          <div class="form-group">
            <label for="coverLetter">Cover Letter:</label>
            <textarea
              id="coverLetter"
              name="CoverLettre"
              class="form-control"
              required
            ></textarea>
          </div>

          <input
            type="hidden"
            class="mb-2"
            name="idOfOffre"
            [(ngModel)]="offerId"
          />
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
            submit
          </button>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
