.CalendarPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
  height: auto; /* Adjust margin as needed */
}

h2 {
  color: #333; /* Adjust color as needed */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.calendar {
  margin-bottom: 20px;
}

.calendar-details {
  width: 100%; /* Adjust width as needed */

}
