
<div class="container mt-5">
  <div class="">
    <section
      id="applications-section"
      *ngIf="activeSection === 'applications-section'"
      class="animate__animated animate__fadeInOut animate__delay-2s mt-4" 
    >
      <h2 class="">Applications list</h2> <!-- Added title -->
      <div class="row mt-4">
        <div class="col-md-4" *ngFor="let application of applications">
          <div class="card mb-3">
            <div class="card-header" [style.background-color]="getCardColor(application.etat)">
              {{ application.firstName }} {{ application.lastName }}
            </div>
            <div class="card-body">
              <p class="card-text">Email: {{ application.email }}</p>
              <p class="card-text">Phone: {{ application.phone }}</p>
            </div>
            <div class="card-footer">
              <button
                type="button"
                class="btn btn-primary"
                (click)="markAsSeen(application)"
              >
                Details
              </button>
             
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
