<!-- users-list.component.html -->
<div class="container">
  <h1>List Of Accepted Candidates:</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Username</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th scope="row">{{ user.index }}</th>
        <td>{{ user.username }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>
          <button
            type="button"
            class="btn btn-success"
            (click)="bookAppointment(user)"
          >
            Book appointment
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
